In [1]:
# --- original script author's comments.
## --- Alex Ilchenko's comments.  

import pandas as pd
import numpy as np
import datetime
from itertools import product
from scipy import interpolate ## For other interpolation functions.

def interpolateFun0(x):
    """Original script author's function rewritten in Python.
    The author interpolates between two known values by averaging them. We
    can think of this as 0th order interpolation. """

    ## TODO: This function could use some optimization. The R version is much faster...
    x = x.reset_index(drop=True)
    g = x['outcome'] ## g should be a list or a pandas Series.
    if g.shape[0] < 3: ## If we have at most two rows.
        x['filled'] = g ## Will be replaced by a mean.
        return x
    missing_index = g.isnull()
    borders = np.append([g.index[0]], g[~missing_index].index, axis=0)
    borders = np.append(borders, [g.index[-1]+1], axis=0)
    forward_border = borders[1:]
    backward_border = borders[:-1]
    forward_border_g = g[forward_border]
    backward_border_g = g[backward_border]
    ## Interpolate borders.
    ## TODO: Why does the script author use the value 0.1?
    border_fill = 0.1
    forward_border_g[forward_border_g.index[-1]] = abs(forward_border_g[forward_border_g.index[-2]]-border_fill)
    backward_border_g[backward_border_g.index[0]] = abs(forward_border_g[forward_border_g.index[0]]-border_fill)
    times = forward_border-backward_border
    forward_x_fill = np.repeat(forward_border_g, times).reset_index(drop=True)
    backward_x_fill = np.repeat(backward_border_g, times).reset_index(drop=True)
    vec = (forward_x_fill+backward_x_fill)/2
    g[missing_index] = vec[missing_index] ## Impute missing values only.
    x['filled'] = g
    return x

In [16]:
def interpolateFun1(x):
    """First-order interpolation between known values. """
    g = x['outcome']
    missing_index = g.isnull()
    border_fill = 0.1 ## TODO: Shouldn't this be some kind of a mean value for the group?
    #border_fill = g.mean() ## Uncomment to try a different border fill.
    if g.index[0] in missing_index:
        g[g.index[0]] = border_fill
    if g.index[-1] in missing_index:
        g[g.index[-1]] = border_fill
    known_index = ~g.isnull()
    try:
        f = interpolate.interp1d(g[known_index].index, g[known_index], kind='linear')
        x['filled'] = [f(x) for x in g.index]
        x['filled'] = np.interp(g.index, g[known_index].index, g[known_index])
    except ValueError:
        x['filled'] = x['outcome']
    return x

In [19]:
# Load and transform people data. ----------------------------------------------
ppl = pd.read_csv('people.csv')

# Convert booleans to integers.
p_logi = ppl.select_dtypes(include=['bool']).columns
ppl[p_logi] = ppl[p_logi].astype('int')
del p_logi

# Transform date.
ppl['date'] = pd.to_datetime(ppl['date'])

# Load activities.--------------------------------------------------------------
# Read and combine.
activs = pd.read_csv('act_train.csv')
TestActivs = pd.read_csv('act_test.csv')
TestActivs['outcome'] = np.nan ## Add the missing column to the test set.
activs = pd.concat([activs, TestActivs], axis=0) ## Append train and test sets.
del TestActivs

In [20]:
# Extract only required variables.
activs = activs[['people_id', 'outcome', 'activity_id', 'date']] ## Let's look at these columns only.

# Merge people data into activities.
## This keeps all the rows from activities.
## TODO: We are not using rows from ppl who have no activities...
d1 = pd.merge(activs, ppl, on='people_id', how='right')

## These are the indices of the rows from the test set.
testset = ppl[ppl['people_id'].isin(d1[d1['outcome'].isnull()]['people_id'])].index

d1['activdate'] = pd.to_datetime(d1['date_x'])

del activs

In [21]:
# Prepare grid for prediction. -------------------------------------------------

# Create all group_1/day grid.
minactivdate = min(d1['activdate'])
maxactivdate = max(d1['activdate'])

## Make a list of all days from min to max.
alldays = [maxactivdate - datetime.timedelta(days=x) for x in range(0, (maxactivdate - minactivdate).days+1)][::-1]

## Take the values of group_1 from the rows of d1 which do not belong to the test set.
grid_left = set(d1[~d1['people_id'].isin(ppl.iloc[testset]['people_id'])]['group_1'])
## Take cartesian product between the above variable and the list of all days.
## I think in the original script author thinks of the values in group_1 as companies.
allCompaniesAndDays = pd.DataFrame.from_records(product(grid_left, alldays))

# Nicer names.
allCompaniesAndDays.columns = ['group_1', 'date_p']

# Sort it.
allCompaniesAndDays.sort_values(['group_1', 'date_p'], inplace=True)

## This is what allCompaniesAndDays looks like so far.
"""
>>> allCompaniesAndDays.sample(n=10)
              group_1     date_p
10318543  group 14386 2023-08-09
3470112    group 8767 2022-08-25
5542924   group 30061 2023-01-11
2328370   group 39750 2022-09-10
7764760    group 1175 2022-12-12
4788523    group 3788 2023-07-25
5545711   group 12085 2022-10-13
859359    group 28900 2023-07-21
11188454  group 21110 2023-02-14
9277889   group 26980 2023-08-07
"""

'\n>>> allCompaniesAndDays.sample(n=10)\n              group_1     date_p\n10318543  group 14386 2023-08-09\n3470112    group 8767 2022-08-25\n5542924   group 30061 2023-01-11\n2328370   group 39750 2022-09-10\n7764760    group 1175 2022-12-12\n4788523    group 3788 2023-07-25\n5545711   group 12085 2022-10-13\n859359    group 28900 2023-07-21\n11188454  group 21110 2023-02-14\n9277889   group 26980 2023-08-07\n'

In [22]:
# What are values on days where we have data?
## For a combination of group_1 and activdate, calculate the mean of the outcome variable.
meanbycomdate = d1[~d1['people_id'].isin(ppl.iloc[testset]['people_id'])].groupby(['group_1', 'activdate'])['outcome'].agg('mean')
## Convert the calculation into a proper DataFrame.
meanbycomdate = meanbycomdate.to_frame().reset_index()

# Add them to full data grid.
allCompaniesAndDays = pd.merge(allCompaniesAndDays, meanbycomdate, left_on=['group_1', 'date_p'], right_on=['group_1', 'activdate'], how='left')
allCompaniesAndDays.drop('activdate', axis=1, inplace=True)
allCompaniesAndDays.sort_values(['group_1', 'date_p'], inplace=True)

## This is what allCompaniesAndDays looks like so far.
"""
>>> allCompaniesAndDays.sample(n=10)
              group_1     date_p  outcome
9536947   group 45684 2022-10-28      NaN
11989016   group 8966 2022-12-10      NaN
11113251   group 6012 2023-02-24      NaN
9945551    group 4751 2023-01-06      1.0
2273368   group 18350 2022-11-21      NaN
12276013   group 9956 2023-04-08      NaN
371765    group 11362 2023-02-23      NaN
10065054  group 48049 2022-09-30      NaN
5525397   group 29428 2023-06-06      NaN
4911409   group 27233 2023-07-22      NaN
"""

## Add a column 'filled' which gives the imputed values for missing values in column 'outcome'.
# groups = [df for _, df in list(allCompaniesAndDays.groupby('group_1'))]
# dfs = [interpolateFun1(group) for group in groups]
# allCompaniesAndDays = pd.concat(dfs)
# allCompaniesAndDays.reset_index(drop=True, inplace=True)

'\n>>> allCompaniesAndDays.sample(n=10)\n              group_1     date_p  outcome\n9536947   group 45684 2022-10-28      NaN\n11989016   group 8966 2022-12-10      NaN\n11113251   group 6012 2023-02-24      NaN\n9945551    group 4751 2023-01-06      1.0\n2273368   group 18350 2022-11-21      NaN\n12276013   group 9956 2023-04-08      NaN\n371765    group 11362 2023-02-23      NaN\n10065054  group 48049 2022-09-30      NaN\n5525397   group 29428 2023-06-06      NaN\n4911409   group 27233 2023-07-22      NaN\n'

In [23]:
'''allCompaniesAndDays = allCompaniesAndDays.groupby('group_1').apply(interpolateFun0)

d1 = pd.merge(d1, allCompaniesAndDays,
              left_on=['group_1', 'activdate'], right_on=['group_1', 'date_p'], how='left')

testsetdt = d1[d1['people_id'].isin(ppl.iloc[testset]['people_id'])][['activity_id', 'filled']]
## There are no NAs.
testsetdt.columns = [testsetdt.columns[0], 'outcome']
testsetdt['outcome'] = testsetdt['outcome'].fillna(testsetdt['outcome'].mean())
testsetdt.to_csv('Submission.csv', index=False)'''

"allCompaniesAndDays = allCompaniesAndDays.groupby('group_1').apply(interpolateFun0)\n\nd1 = pd.merge(d1, allCompaniesAndDays,\n              left_on=['group_1', 'activdate'], right_on=['group_1', 'date_p'], how='left')\n\ntestsetdt = d1[d1['people_id'].isin(ppl.iloc[testset]['people_id'])][['activity_id', 'filled']]\n## There are no NAs.\ntestsetdt.columns = [testsetdt.columns[0], 'outcome']\ntestsetdt['outcome'] = testsetdt['outcome'].fillna(testsetdt['outcome'].mean())\ntestsetdt.to_csv('Submission.csv', index=False)"

In [27]:
d1

,people_id,outcome,activity_id,date_x,char_1,group_1,char_2,date_y,char_3,char_4,...,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38,activdate
0,ppl_100,0.0,act2_1734928,2023-08-26,type 2,group 17304,type 2,2021-06-29,type 5,type 5,...,1,1,0,0,1,1,1,0,36,2023-08-26
1,ppl_100,0.0,act2_2434093,2022-09-27,type 2,group 17304,type 2,2021-06-29,type 5,type 5,...,1,1,0,0,1,1,1,0,36,2022-09-27
2,ppl_100,0.0,act2_3404049,2022-09-27,type 2,group 17304,type 2,2021-06-29,type 5,type 5,...,1,1,0,0,1,1,1,0,36,2022-09-27
3,ppl_100,0.0,act2_3651215,2023-08-04,type 2,group 17304,type 2,2021-06-29,type 5,type 5,...,1,1,0,0,1,1,1,0,36,2023-08-04
4,ppl_100,0.0,act2_4109017,2023-08-26,type 2,group 17304,type 2,2021-06-29,type 5,type 5,...,1,1,0,0,1,1,1,0,36,2023-08-26
5,ppl_100,0.0,act2_898576,2023-08-04,type 2,group 17304,type 2,2021-06-29,type 5,type 5,...,1,1,0,0,1,1,1,0,36,2023-08-04
6,ppl_100002,1.0,act2_1233489,2022-11-23,type 2,group 8688,type 3,2021-01-06,type 28,type 9,...,1,1,1,1,1,1,1,0,76,2022-11-23
7,ppl_100002,1.0,act2_1623405,2022-11-23,type 2,group 8688,type 3,2021-01-06,type 28,type 9,...,1,1,1,1,1,1,1,0,76,2022-11-23
8,ppl_100003,1.0,act2_1111598,2023-02-07,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-02-07
9,ppl_100003,1.0,act2_1177453,2023-06-28,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-06-28
10,ppl_100003,1.0,act2_133509,2022-08-10,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2022-08-10
11,ppl_100003,1.0,act2_1408475,2023-03-02,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-03-02
12,ppl_100003,1.0,act2_1610829,2022-09-13,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2022-09-13
13,ppl_100003,1.0,act2_1688731,2023-02-10,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-02-10
14,ppl_100003,1.0,act2_1961720,2023-06-28,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-06-28
15,ppl_100003,1.0,act2_1988351,2022-08-23,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2022-08-23
16,ppl_100003,1.0,act2_2198176,2022-08-16,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2022-08-16
17,ppl_100003,1.0,act2_2437661,2023-02-02,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-02-02
18,ppl_100003,1.0,act2_2476911,2023-03-02,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-03-02
19,ppl_100003,1.0,act2_2557270,2022-08-30,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2022-08-30
20,ppl_100003,1.0,act2_2581989,2023-02-21,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-02-21
21,ppl_100003,1.0,act2_3116385,2023-02-15,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-02-15
22,ppl_100003,1.0,act2_3159712,2022-08-30,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2022-08-30
23,ppl_100003,1.0,act2_3292005,2023-05-03,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-05-03
24,ppl_100003,1.0,act2_3461867,2023-08-02,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-08-02
25,ppl_100003,1.0,act2_3468306,2023-03-02,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-03-02
26,ppl_100003,1.0,act2_3867292,2023-02-10,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-02-10
27,ppl_100003,1.0,act2_3990676,2023-08-30,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-08-30
28,ppl_100003,1.0,act2_4102292,2023-08-30,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-08-30
29,ppl_100003,1.0,act2_4160587,2023-02-21,type 2,group 33592,type 3,2022-06-10,type 4,type 8,...,0,1,1,1,1,0,1,1,99,2023-02-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2695948,ppl_99963,NaN,act2_3146168,2023-07-20,type 2,group 667,type 3,2023-06-25,type 40,type 25,...,0,0,1,0,1,0,1,1,98,2023-07-20
2695949,ppl_99963,NaN,act2_3435600,2023-07-01,type 2,group 667,type 3,2023-06-25,type 40,type 25,...,0,0,1,0,1,0,1,1,98,2023-07-01
2695950,ppl_99963,NaN,act2_3648161,2023-07-20,type 2,group 667,type 3,2023-06-25,type 40,type 25,...,0,0,1,0,1,0,1,1,98,2023-07-20
2695951,ppl_99963,NaN,act2_4609368,2023-06-30,type 2,group 667,type 3,2023-06-25,type 40,type 25,...,0,0,1,0,1,0,1,1,98,2023-06-30
2695952,ppl_99963,NaN,act2_488594,2023-07-20,type 2,group 667,type 3,2023-06-25,type 40,type 25,...,0,0,1,0,1,0,1,1,98,2023-07-20
2695953,ppl_99963,NaN,act2_568974,2023-06-25,type 2,group 667,type 3,2023-06-25,type 40,type 25,...,0,0,1,0,1,0,1,1,98,2023-06-25
2695954,ppl_99975,NaN,act1_187412,2023-06-28,type 2,group 11303,type 3,2023-06-28,type 40,type 25,...,1,1,1,1,1,1,1,1,95,2023-06-28
2695955,ppl_99975,NaN,act2_1907199,2023-06-29,type 2,group 11303,type 3,2023-06-28,type 40,type 25,...,1,1,1,1,1,1,1,1,95,2023-06-29
2695956,ppl_99975,NaN,act2_3825329,2023-06-29,type 2,group 11303,type 3,2023-06-28,type 40,type 25,...,1,1,1,1,1,1,1,1,95,2023-06-29
2695957,ppl_99975,NaN,act2_4540493,2023-06-29,type 2,group 11303,type 3,2023-06-28,type 40,type 25,...,1,1,1,1,1,1,1,1,95,2023-06-29
2695958,ppl_99975,NaN,act2_4716058,2023-06-29,type 2,group 11303,type 3,2023-06-28,type 40,type 25,...,1,1,1,1,1,1,1,1,95,2023-06-29
2695959,ppl_99986,NaN,act2_1374659,2022-09-15,type 2,group 17304,type 2,2021-03-27,type 4,type 6,...,0,0,0,0,0,0,0,0,0,2022-09-15
2695960,ppl_99986,NaN,act2_4191036,2022-09-15,type 2,group 17304,type 2,2021-03-27,type 4,type 6,...,0,0,0,0,0,0,0,0,0,2022-09-15
2695961,ppl_99997,NaN,act2_1893941,2022-10-18,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2022-10-18
2695962,ppl_99997,NaN,act2_2245699,2023-08-15,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2023-08-15
2695963,ppl_99997,NaN,act2_2316472,2023-06-08,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2023-06-08
2695964,ppl_99997,NaN,act2_2372813,2023-04-22,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2023-04-22
2695965,ppl_99997,NaN,act2_2433185,2022-09-24,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2022-09-24
2695966,ppl_99997,NaN,act2_2576346,2022-11-29,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2022-11-29
2695967,ppl_99997,NaN,act2_2718841,2022-11-25,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2022-11-25
2695968,ppl_99997,NaN,act2_2902742,2022-09-13,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2022-09-13
2695969,ppl_99997,NaN,act2_3448131,2023-06-08,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2023-06-08
2695970,ppl_99997,NaN,act2_3757705,2022-08-09,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2022-08-09
2695971,ppl_99997,NaN,act2_4149173,2022-11-05,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2022-11-05
2695972,ppl_99997,NaN,act2_4355610,2023-06-10,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2023-06-10
2695973,ppl_99997,NaN,act2_4367092,2023-04-22,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2023-04-22
2695974,ppl_99997,NaN,act2_4404220,2022-11-12,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2022-11-12
2695975,ppl_99997,NaN,act2_448830,2022-08-02,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2022-08-02
2695976,ppl_99997,NaN,act2_450133,2022-08-02,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2022-08-02
2695977,ppl_99997,NaN,act2_847967,2022-10-15,type 2,group 17304,type 2,2022-03-12,type 40,type 25,...,0,0,0,0,0,0,0,0,36,2022-10-15

In [35]:
ppl[~ppl.index.isin(testset)]

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,0,1,1,0,0,1,1,1,0,36
1,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,0,1,1,1,1,1,1,1,0,76
2,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,0,0,1,1,1,1,0,1,1,99
4,ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,...,0,0,1,0,0,0,1,1,0,84
7,ppl_100013,type 2,group 4204,type 3,2023-01-24,type 4,type 8,type 4,type 1,type 7,...,0,0,1,1,1,1,0,1,1,91
8,ppl_100019,type 2,group 45749,type 3,2023-03-26,type 40,type 25,type 9,type 3,type 9,...,0,0,0,0,0,0,0,0,0,84
9,ppl_100025,type 2,group 36096,type 3,2022-08-26,type 14,type 6,type 8,type 3,type 9,...,0,0,0,0,0,0,0,0,0,76
10,ppl_100028,type 2,group 17304,type 2,2023-04-21,type 40,type 25,type 9,type 4,type 20,...,0,0,0,0,0,0,0,0,0,0
11,ppl_100029,type 2,group 17304,type 2,2023-07-15,type 4,type 6,type 4,type 1,type 2,...,0,0,0,0,0,0,0,0,0,0
12,ppl_100032,type 2,group 18035,type 3,2022-07-26,type 7,type 6,type 7,type 4,type 17,...,0,0,0,0,0,0,0,0,0,60
13,ppl_100033,type 2,group 17304,type 2,2022-07-26,type 10,type 7,type 6,type 3,type 9,...,0,0,0,0,0,0,0,0,0,0
14,ppl_100035,type 2,group 9439,type 3,2022-01-22,type 4,type 10,type 4,type 1,type 23,...,0,0,0,0,0,0,0,0,1,100
15,ppl_100040,type 2,group 19662,type 3,2022-08-11,type 5,type 5,type 5,type 1,type 23,...,1,1,1,0,1,1,0,1,0,68
16,ppl_100042,type 2,group 7636,type 3,2022-12-16,type 40,type 25,type 9,type 6,type 9,...,0,0,0,0,0,0,0,0,0,67
17,ppl_100043,type 2,group 39166,type 3,2023-08-22,type 6,type 6,type 4,type 1,type 1,...,0,0,1,0,0,1,0,1,1,79
18,ppl_100045,type 2,group 17304,type 2,2022-09-21,type 40,type 25,type 9,type 2,type 6,...,0,0,0,0,0,0,0,0,0,7
19,ppl_100047,type 2,group 17304,type 2,2022-11-14,type 40,type 25,type 9,type 3,type 8,...,0,0,0,0,0,0,0,0,0,0
21,ppl_100049,type 2,group 9405,type 3,2022-02-04,type 4,type 12,type 4,type 3,type 11,...,0,0,0,0,0,0,0,0,0,70
22,ppl_10005,type 2,group 17304,type 2,2023-03-25,type 40,type 25,type 9,type 3,type 8,...,0,0,0,0,0,1,0,0,0,42
23,ppl_100050,type 2,group 7256,type 3,2023-01-28,type 40,type 25,type 9,type 1,type 3,...,1,1,1,1,1,1,1,1,1,100
25,ppl_100052,type 2,group 17304,type 2,2020-05-28,type 4,type 2,type 4,type 2,type 6,...,1,1,1,1,1,1,1,1,1,39
26,ppl_100058,type 2,group 42007,type 3,2022-12-28,type 10,type 6,type 6,type 1,type 1,...,0,0,0,1,0,0,0,0,0,78
27,ppl_10006,type 2,group 627,type 3,2022-11-17,type 40,type 25,type 9,type 3,type 11,...,0,0,0,0,0,0,0,0,0,73
28,ppl_100060,type 2,group 17304,type 2,2023-08-31,type 11,type 2,type 2,type 4,type 13,...,0,0,0,0,0,0,0,0,0,0
29,ppl_100062,type 1,group 49,type 1,2022-03-09,type 1,type 1,type 1,type 1,type 10,...,0,0,0,1,0,1,0,0,0,88
30,ppl_100063,type 2,group 24280,type 3,2021-08-20,type 2,type 6,type 2,type 1,type 14,...,0,0,0,1,0,1,0,1,1,49
31,ppl_100064,type 2,group 17304,type 2,2023-08-22,type 9,type 6,type 6,type 5,type 21,...,0,0,0,0,0,0,0,0,0,0
32,ppl_100066,type 2,group 17304,type 2,2022-12-29,type 5,type 8,type 5,type 1,type 3,...,0,0,0,0,0,0,0,0,0,41
33,ppl_100069,type 2,group 5693,type 3,2023-07-15,type 8,type 6,type 8,type 1,type 2,...,1,1,1,1,1,1,1,1,1,90
34,ppl_10007,type 2,group 48070,type 3,2023-05-31,type 4,type 3,type 4,type 5,type 15,...,1,1,1,1,1,1,1,1,1,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189081,ppl_99922,type 2,group 17304,type 2,2023-05-02,type 40,type 25,type 9,type 3,type 11,...,0,0,0,0,0,0,0,0,0,42
189082,ppl_99924,type 2,group 17304,type 2,2023-05-02,type 40,type 25,type 9,type 3,type 8,...,0,0,0,0,0,0,0,0,0,0
189083,ppl_99925,type 2,group 29491,type 3,2022-04-22,type 9,type 5,type 5,type 1,type 12,...,0,0,1,0,1,1,0,1,0,49
189084,ppl_99928,type 2,group 23832,type 3,2022-08-13,type 40,type 25,type 9,type 5,type 22,...,0,0,0,0,0,0,0,0,0,75
189085,ppl_9993,type 2,group 9375,type 3,2022-03-04,type 4,type 2,type 4,type 1,type 4,...,1,1,1,1,0,1,0,1,0,96
189086,ppl_99930,type 2,group 30327,type 3,2023-07-14,type 40,type 25,type 9,type 3,type 9,...,1,0,1,1,0,0,1,0,0,98
189088,ppl_99935,type 2,group 17304,type 2,2022-08-30,type 4,type 6,type 4,type 1,type 4,...,0,0,0,0,0,0,0,0,0,0
189090,ppl_99937,type 2,group 41,type 3,2021-10-27,type 40,type 25,type 9,type 1,type 1,...,0,0,0,1,0,1,1,1,1,89
189091,ppl_99939,type 2,group 17304,type 2,2022-12-22,type 4,type 6,type 4,type 5,type 21,...,0,0,0,0,0,0,0,0,0,0
189092,ppl_99944,type 2,group 386,type 3,2023-07-26,type 40,type 25,type 9,type 3,type 11,...,1,1,1,1,1,0,0,1,1,92
189093,ppl_99946,type 2,group 17304,type 2,2023-02-10,type 4,type 6,type 4,type 1,type 14,...,0,0,0,0,0,0,0,0,0,0
189094,ppl_99947,type 2,group 27631,type 3,2022-09-08,type 19,type 6,type 5,type 4,type 17,...,0,0,0,0,0,0,0,0,0,85
189095,ppl_99950,type 2,group 1490,type 3,2023-06-23,type 40,type 25,type 9,type 4,type 20,...,1,1,1,1,1,1,1,1,1,98
189096,ppl_99955,type 2,group 11055,type 3,2023-05-31,type 6,type 8,type 5,type 5,type 15,...,0,0,0,0,0,0,0,0,0,90
189098,ppl_99959,type 2,group 7767,type 3,2023-06-20,type 4,type 6,type 4,type 3,type 8,...,0,1,1,1,1,1,0,1,1,51
189099,ppl_9996,type 2,group 17304,type 2,2022-10-21,type 40,type 25,type 9,type 3,type 8,...,0,0,0,0,0,0,0,0,0,0
189100,ppl_99961,type 2,group 17304,type 2,2020-07-10,type 40,type 25,type 9,type 4,type 13,...,0,0,0,0,0,0,0,0,0,0
189102,ppl_99964,type 2,group 8386,type 3,2023-06-29,type 4,type 4,type 4,type 1,type 23,...,0,0,1,1,0,1,0,1,1,90
189103,ppl_99966,type 2,group 28835,type 3,2022-03-24,type 7,type 6,type 7,type 3,type 11,...,0,0,0,0,0,0,0,0,0,61
189104,ppl_99967,type 2,group 28832,type 3,2023-03-26,type 4,type 10,type 4,type 3,type 9,...,0,0,0,0,0,0,0,0,0,55
189105,ppl_9997,type 2,group 17304,type 2,2022-04-27,type 4,type 5,type 5,type 4,type 13,...,0,0,0,0,0,0,0,0,0,5
189106,ppl_99973,type 2,group 18907,type 3,2020-07-21,type 8,type 6,type 8,type 1,type 1,...,0,0,0,1,0,1,0,1,0,50
189108,ppl_99977,type 2,group 8279,type 3,2023-01-04,type 12,type 2,type 8,type 2,type 6,...,0,0,0,0,0,1,0,0,0,83
189109,ppl_99978,type 2,group 2632,type 3,2023-03-16,type 6,type 15,type 4,type 1,type 3,...,0,0,0,0,0,1,0,1,1,94
189110,ppl_9998,type 2,group 17304,type 2,2022-03-02,type 27,type 6,type 7,type 2,type 6,...,0,0,0,1,0,0,0,1,1,45
189111,ppl_99981,type 2,group 17304,type 2,2023-01-26,type 5,type 5,type 5,type 2,type 5,...,0,0,0,1,0,1,0,1,1,3
189113,ppl_99987,type 1,group 8600,type 1,2022-04-02,type 4,type 6,type 4,type 3,type 11,...,0,0,0,1,0,1,0,1,1,89
189114,ppl_9999,type 2,group 17304,type 2,2023-02-23,type 6,type 2,type 8,type 3,type 11,...,0,0,0,0,0,0,0,0,0,0
189115,ppl_99992,type 2,group 17304,type 2,2020-06-25,type 5,type 5,type 3,type 4,type 16,...,0,0,0,0,0,0,0,0,0,0
189116,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,1,1,1,1,0,1,1,1,1,95

In [29]:
testset

Int64Index([     3,      5,      6,     20,     24,     36,     43,     48,
                52,     54,
            ...
            189065, 189070, 189072, 189087, 189089, 189097, 189101, 189107,
            189112, 189117],
           dtype='int64', length=37823)